* {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h4,
p {
    color: white;
}


h1 {
    font-size: 50px;
    margin: 0px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 200;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.4;
    font-weight: 400;
}


.navbar {
    background: black;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opi_logo {
    font-size: 35px;
    font-weight: 500;
    color: rgb(255, 35, 75);
}

.opi_logo a {
    color: rgb(255, 35, 75);
}

li {
    list-style: none;
    display: inline-block;

}

li a {
    color: rgb(255, 35, 75);
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

button {
    background-color: rgb(255, 35, 75);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a {
    color: black;
    font-weight: 400;
    font-size: 15px;
}


header,
section {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    border: 5px solid rgb(217, 255, 0);
}

header {
    background-color: rgb(255, 35, 75);
}

header h1,
header h4 {
    color: black;
}


.opi_story {
    background-color: black;
    margin: 0 auto;

}

.opi_goal {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    height: 50vh;
}

.vision,
.mission {
    background-color: aqua;
    width: 50vw;
    height: 45vh;
}

.vision p,
.mission p,
.mission h4,
.vision h4 {
    color: black;
    text-align: center;
}

.opi_goal p {
    font: black;
}

.objectives {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;

}

.object_title {
    transform: rotate(-90 deg);
    margin: auto;
}

.objectives p {
    color: black;
}

.object {
    background-color: rgb(255, 35, 75);
    height: 200px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

.opi_merch {
    background-color: black;
    display: flex;
    height: 50vh;
}

.merch_win h2 {
    color: rgb(255, 35, 75);
}

.buy_merch {
    background: black;
    padding-left: 15px;
    padding-right: 15px;
}

.merch_wrapper {
    background-color: rgb(255, 35, 75);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.merch_wrapper h4 {
    color: black;
}

.merch {
    background-color: aqua;
    margin: 0.5em;
}

.opi_what {
    background-color: black;

}

.opi_what h2 {
    color: rgb(255, 35, 75);
}

.opi_why {
    background-color: aqua;
}

.opi_why h2,
.opi_why h4 {
    color: black;
}

.why {
    background-color: black;
}

.why p {
    color: rgb(255, 35, 75);
}

.opi_FnD {
    background-color: rgb(255, 35, 75);
}

.opi_donate {
    background-color: black;
}

.opi_donations {
    display: grid;
    grid-template-columns: 200px 1fr;


}

.don_title {
    background-color: aqua;
    transform: rotate(90deg);
}

.don_title h2,
.don_title h4 {
    color: black;
}

.don_wrapper {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;

}

.don {
    background-color: rgb(255, 35, 75);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
}

.don h4 {
    color: white;
}

.str .calender {
    grid-template-columns: 1fr 150px;
    display: grid;

    background-color: rgb(255, 35, 75);

}

.log {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}

.c_title {
    color: black;
    width: ;
    transform: rotate(90deg);
}

.dates {
    background-color: black;
}