h1,
h2,
h4,
p {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}


h1 {
    font-size: 50px;
    margin: 0px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 15px;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.4;
}

header,
section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    height: 80vh;
    border: 5px solid orangered;
}

header {
    background-color: rgb(188, 53, 241);
}

header h1,
h4 {
    color: black;
}

header h1 {
    position: relative;
}

.our_story {
    background-color: aqua;
    margin: 0 auto;

}

.vizmiz {
    background-color: purple;
    display: inline-flex;
    justify-content: center;
}

.vision,
.mission {
    background-color: black;
}

.vision p,
.mission p,
.mission h4,
.vision h4 {
    color: white;
    text-align: center;
}

.vizmiz p {
    font: white;
}

.merch_container {
    background-color: black;
    display: flex;
}

.objectives {
    background-color: black;
    padding: 0 100px;
    display: flex;
    flex-direction: ;

}

.object_title {
    display: flex;
    rotate: -90deg;
    margin: 0 auto;
}

.objectives p {
    color: black;
}

.object {
    background-color: rgb(255, 35, 75);
    height: 250px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
}