* {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h4,
p {
    color: white;
}


h1 {
    font-size: 50px;
    margin: 0px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 200;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.4;
    font-weight: 400;
}


.navbar {
    background: black;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opi_logo {
    font-size: 35px;
    font-weight: 500;
    color: palevioletred;
}

.opi_logo a {
    color: palevioletred;
}

li {
    list-style: none;
    display: inline-block;

}

li a {
    color: palevioletred;
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

button {
    background-color: palevioletred;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a {
    color: black;
    font-weight: 400;
    font-size: 15px;
}


header,
section {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    height: 100vh;
    border: 5px solid orangered;
}

header {
    background-color: palevioletred;
}

header h1,
header h4 {
    color: black;
}


.opi_story {
    background-color: black;
    margin: 0 auto;

}

.opi_goal {
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
}

.vision,
.mission {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

.vision p,
.mission p,
.mission h4,
.vision h4 {
    color: black;
    text-align: center;
}

.opi_goal p {
    font: black;
}

.objectives {
    background-color: black;
    padding: 0 100px;
    display: flex;


}

.object_title {
    display: flex;
    rotate: -90deg;
    margin: auto;
}

.objectives p {
    color: black;
}

.object {
    background-color: rgb(255, 35, 75);
    height: 200px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
}

.opi_merch {
    background-color: black;
    display: flex;
}

.merch_win h2 {
    color: palevioletred;
}

.buy_merch {
    background: black;
    padding-left: 15px;
    padding-right: 15px;
}

.merch_wrapper {
    background-color: palevioletred;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 25vh auto 0;
    flex-wrap: wrap;
    align-items: center;
}

.merch_wrapper h4 {
    color: black;
}

.merch {
    background-color: aqua;
    margin: 0.5em;
}

.opi_donations {
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: center;
}

.don_title {
    background-color: aqua;
    text-align: center;
    transform: rotate(-90deg);
}

.don_title h2,
.don_title h4 {
    color: black;
}

.don_wrapper {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.don {
    background-color: palevioletred;

}

.don h4 {
    color: white;
}